meta(data-react-helmet="true", itemprop='name', content=htmlWebpackPlugin.options.title)
meta(data-react-helmet="true", itemprop='description', content=htmlWebpackPlugin.options.description)
meta(itemprop='image', content=htmlWebpackPlugin.options.site_url + '/assets/imgs/og-card.jpg')
meta(name='twitter:card', content='summary_large_image')
meta(data-react-helmet="true", name='twitter:title',  content=htmlWebpackPlugin.options.title)
meta(data-react-helmet="true", name='twitter:description', content=htmlWebpackPlugin.options.description)
meta(name='twitter:image', content=htmlWebpackPlugin.options.site_url + '/assets/imgs/twitter-card.jpg')
meta(data-react-helmet="true", property='og:title', content=htmlWebpackPlugin.options.title)
meta(property='og:type', content='article')
meta(property='og:url', content=htmlWebpackPlugin.options.site_url)
meta(property='og:image', content=htmlWebpackPlugin.options.site_url + '/assets/imgs/og-card.jpg')
meta(data-react-helmet="true", property='og:description', content=htmlWebpackPlugin.options.description)
meta(data-react-helmet="true", property='og:site_name', content=htmlWebpackPlugin.options.title)